body {
margin: 0;
font-family: "Acme";
background-color: rgb(255, 212, 218);
background-image: url("../images/main-background.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 600px;
width: 100%;
background-position-y: 10px;
}

.header {
    width: 100%;
    height: 90px;
    font-size: 14px;
    font-family: "Bad Script";
    padding-top: 10px;
    color: white;
    background-color: rgb(230, 180, 213);
    text-align: center;
    z-index: 1;
    position: fixed;
}

.sidenav {
    opacity: 0.8;
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    z-index: 0;
    background-color: rgb(243, 207, 231);
    overflow-x: hidden;
}

.sidenav navcontent {
    top: 200px;
    position: relative;
    opacity: 1;
}

.sidenav a {
    opacity: 1.0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #b66fac;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: hotpink;
    opacity: 1.0;
}

.sidenav a.active {
    color: #f1f1f1;
    background-color: hotpink;
}

.message {
    font-size: 12px; /* Increased text to enable scrolling */
    color: hotpink;
    text-align: center;
}

.main {
    margin-left: 200px;
    padding-top: 150px;
    font-size: 14px; /* Increased text to enable scrolling */
    color: #b66fac;
    text-align: center;
    height: 100%;
}

input {
    border: none;
    background-color: none;
    border-radius: 3px;
    color: #eb97df;
    font-size: 16px;
    width: 100%;
}

input[type=submit] {
    margin-top: 25px;
    font-size: 12px;
    color: #eb97df;
    background-color: white;
    border: 2px solid #eb97df;
    border-radius: 3px;
    width: 100px;
}

input[type=submit]:hover {
    font-size: 12px;
    color: #ff00bf;
    border: 2px solid #ff00bf;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
}

input[type=submit]:disabled {
    font-size: 12px;
    color: grey;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: rgb(179, 195, 216);
    width: 100px;
    cursor: not-allowed;
}

form, form > label {
    display: inline-block;
    width: 300px;
}

.map {
    width: 350px;
    height: 530px;
    margin-left: 30%;
    background-color: white;
}

table {
    font-size : 10px;
    width: 100%;
    border-spacing: 10px;
}

.seat {
    color: black;
    background-color: lightgreen;
    cursor: pointer;
    padding: 10px 10px;
    border-radius : 5px 5px;
    border: 1px solid white;
}

.seat:hover {
    background-color: rgb(195, 255, 127) !important;
    border: 1px solid black !important;
}

.counter{
    font-size: 10px;
    width: 100%;
    border-spacing: 10px;
}